<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <title>Document</title>

</head>
<body>
    <div class="main m-full min-h-screen bg-zinc-900 text-white p-10">
        <a class="text-blue-500" href="/">Go To Home...</a>
        <h1 class="text-4xl tracking-tighter mt-10"><%= filename %></h1>
        <p class="text-xl mt-4 font-light mt-5"><%= filedata %></p>
    </div>
</body>
</html>